# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. GGally
3. dplyr

Data Science Tools|
---|
MySQL|
Jupyter|
RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

[1] 3.333333

**Objectives:**
- List popular languages for Data Science
- Create a Table
- List Open Source Tools for Data Science

## Author

Jamie W